@import url('vendor/normalize.css');
div {
    border: 1px solid red;
}


.header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('imgs/back.png') no-repeat;
    background-size: 100%;
}
.form {
    width: 50%;
}
.query {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 1000px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    outline: none;
}

.query:focus {
    box-shadow: 0 0 10px #00f874;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit,200px);
    padding: 20px;
    grid-gap: 40px;
    justify-content: center;
}
.card {
    width: 200px;
    height: 200px;

}

body::-webkit-scrollbar { width: 0 !important }