.header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E3A44;
    background-image: url(../../imgs/back.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom;
    box-shadow: 0 0 5px #2E3A44;
}